<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/assets/css/bootstrap.min.css" />
    <include path="~/assets/css/animate.css" />
    <include path="~/assets/css/odometer-theme-default.css" />
    <include path="~/assets/css/owl.carousel.css" />
    <include path="~/assets/css/style.css" />
    <include path="~/assets/css/animate.css" />
  </styleBundle>
</bundles>