<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<sectionGroup name="JACombinerAndOptimizerGroup">
			<section name="combinerAndVersioningFilters" type="Persephone.Processing.Pipeline.PipelineConfigurationSection, Persephone.Processing.Pipeline" />
			<section name="combinerSettings" type="JsAndCssCombiner.CombinerConfigSettings.CombinerSection, JsAndCssCombiner" />
		</sectionGroup>
	</configSections>
	<system.web>
		<!--<globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" />-->
		<authentication mode="Windows" />
		<!--<customErrors mode="RemoteOnly"/>-->
		<!--<customErrors mode="On" defaultRedirect="mycustompage.htm"/>-->
		<customErrors mode="RemoteOnly" redirectMode="ResponseRewrite">
			<error statusCode="404" redirect="/404.aspx" />
		</customErrors>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
			</controls>
		</pages>
		<httpHandlers>
			<add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
			<add verb="GET" path="combined.axd" type="JsAndCssCombiner.CombinedResourceHandler, JsAndCssCombiner" validate="false" />
		</httpHandlers>
	</system.web>
	<system.web.extensions>
		<scripting>
			<scriptResourceHandler enableCompression="true" enableCaching="true" />
		</scripting>
	</system.web.extensions>

	<system.webServer>

		<httpErrors errorMode="Custom">
			<remove statusCode="404" />
			<error statusCode="404" path="/404.aspx" responseMode="ExecuteURL" />
		</httpErrors>

		<urlCompression doDynamicCompression="true" doStaticCompression="true" />
		<directoryBrowse enabled="false" />
		

		<validation validateIntegratedModeConfiguration="false" />
		<staticContent>
			<clientCache httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" cacheControlMode="UseExpires" />
		</staticContent>
		<httpProtocol>
			<customHeaders>
				<remove name="Vary" />
				<add name="Vary" value="Accept-Encoding" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<clear />
				<rule name="Redirect to https" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
						<add input="{URL}" pattern="(.*)XYZ" negate="true" ignoreCase="true" />
						<add input="{HTTP_HOST}" matchType="Pattern" pattern="^localhost(:\d+)?$" negate="true" />
					</conditions>
					<action type="Redirect" url="https://www.{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
				</rule>
				<!--<rule name="redirect ndepend.com to www.softcron.com">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTP_HOST}" pattern="^www.*" negate="true" />
						<add input="{HTTP_HOST}" pattern="localhost" negate="true" />
					</conditions>
				</rule>-->
				<rule name="RedirectToWWW" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^softcron.com$" />
					</conditions>
					<action type="Redirect" url="https://www.softcron.com/{R:0}" />
				</rule>
			</rules>
		</rewrite>
		<handlers>

			<add name="captcha1" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />

			<add name="CombinedResourceHandler" verb="GET" path="*combined.axd" type="JsAndCssCombiner.CombinedResourceHandler, JsAndCssCombiner" />
		</handlers>
	</system.webServer>




	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime> 
	<connectionStrings>
		<add name="cn" connectionString="Data Source=103.86.176.47;Initial Catalog=softnew_blog;User ID=soft_cron;Password=s0ftcr0n@12##;" providerName="System.Data.SqlClient" />
		<!--<add name="cn" connectionString="Data Source=.;Initial Catalog=softcron;Integrated Security=True;"/>-->
	</connectionStrings>
	<loggingConfiguration configSource="logging.config" />
	<JACombinerAndOptimizerGroup>
		<combinerAndVersioningFilters>
			<filters>
				<add type="JsAndCssCombiner.InterceptorFilterImplementation.Filters.IeConditionalCommentsFilter, JsAndCssCombiner" />
				<add type="JsAndCssCombiner.InterceptorFilterImplementation.Filters.JsCombinerFilter, JsAndCssCombiner" />
				<add type="JsAndCssCombiner.InterceptorFilterImplementation.Filters.JsVersoningFilter, JsAndCssCombiner" />
				<add type="JsAndCssCombiner.InterceptorFilterImplementation.Filters.CssCombinerFilter, JsAndCssCombiner" />
				<add type="JsAndCssCombiner.InterceptorFilterImplementation.Filters.CssVersioningFilter, JsAndCssCombiner" />
				<add type="JsAndCssCombiner.InterceptorFilterImplementation.Filters.ImagePathsRewriteFilter, JsAndCssCombiner" />
			</filters>
		</combinerAndVersioningFilters>
		<combinerSettings comboScriptUrl="/combined.axd" combinerLiveSettingsFile="/combinerSettings.txt" imagesCdnHostToPrepend="" />
	</JACombinerAndOptimizerGroup>
	<appSettings>
		<!-- for display error message dynamic -->
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<!-- ============== -->
		<add key="webapibaseimgurl" value="https://badmin.softcron.com/" />
		<add key="BlogBaseURL" value="/assets/blogs/" />
		<add key="GalleryBaseURL" value="/assets/gallery/" />
		<add key="ItemsBaseURL" value="/assets/items/" />
		<add key="TestimonialBaseURL" value="/assets/testimonial/" />
	</appSettings>
</configuration>
